#nav{
    background-color: #f8f8f8!important;
    display: flex!important;
    padding: 20rem!important;
    justify-content: space-between!important;
    color: #000!important;
    z-index: 99!important;
}
.logo{
    height: auto!important;
    display: flex!important;
    padding-top: 7rem!important;
}
.logo a img{
    height: auto!important;
    width: 100%!important;
    padding-top: 3rem!important;
}
.logo a {
    width: 23%!important;
}
.register {
    list-style-type: none!important;
     display: flex!important;
    margin-top: 9rem!important;
} 
.register li {
	background-color: #000!important;
	margin-left: 20rem!important;
	padding: 4rem!important;
	border-radius: 8rem!important;
}
.register li a {
	text-decoration: none!important;
	font-weight: 410!important;
	font-family: 'IBM Plex Sans', sans-serif!important;
	font-size: 18rem!important;
    color: #fff!important;
    padding: 33rem!important;
}
.register li a:hover{
   color: aqua!important;
}
.register li:last-child {
    background-color: #a71414!important;
}
.menulist{
    list-style-type: none!important;
    display: flex!important;
    align-items: center!important;
    padding-top: 9rem!important;
}
.menulist li a {
	text-decoration: none!important;
	color: #000!important;
	padding: 0rem 14rem!important;
	font-weight: 400!important;
	margin-left: 0rem!important;
	font-family: 'IBM Plex Sans', sans-serif!important;
	font-size: 16rem!important;
	border-left: 1rem solid #000!important;
}
.menulist li a:hover,
.menulist li a:active
{
    background-color: #a71414!important;
    color: #fff!important;
    transition:  all 0.5s ease-in-out!important;
    border-radius: 2rem!important;
}
.menu-icon{
    display: none!important;
}
@media screen and (max-width:800rem){

}

@media screen and (max-width:600rem){
  .menu-icon{
      display: block!important;
  } 
  .menulist {
	flex-direction: column!important;
	width: 100%!important;
	position: absolute!important;
	padding: 20rem!important;
	right: 0!important;
	top: 64rem!important;
	transition: all 0.5s ease-in-out!important;
	z-index: 4444!important;
	background: #000!important;
	opacity: 0.9!important;
}
  .menulist li {
      margin-bottom: 20rem!important;
      width: 100%!important;
      text-align: center!important;
  }
  .menulist li a {
	width: 130rem!important;
	display: block!important;
	margin: auto!important;
	border-left: none!important;
	color: #fff!important;
}
.fa{
    cursor: pointer!important;
}
.menu-icon {
	padding-top: 6rem!important;
	position: absolute!important;
	right: 10rem!important;
}
.menu-icon .fa-bars{
    transform: rotate(180deg)!important;
    transition: all 0.2s ease-in-out!important;
    font-size: 26rem!important;
}
.logo a img {
	height: 29rem!important;
	padding-top: 6rem!important;
}

.menulist.close {
   right: 100%!important;
   transition:all 0.5s ease-in-out!important;
}


.register {
	list-style-type: none!important;
	display: flex!important;
	margin-top: 0rem!important;
	position: absolute!important;
	top: 2rem!important;
	right: 61rem!important;
}
.register li {
	background-color: #000!important;
	margin-left: 7rem!important;
	padding: 0rem 0 3rem 0!important;
	border-radius: 7rem!important;
}
.register li a {
	text-decoration: none!important;
	font-weight: 410!important;
	font-family: 'IBM Plex Sans', sans-serif!important;
	font-size: 13rem!important;
	color: #fff!important;
	padding: 13rem!important;
}







}




