
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: darkgrey; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(114, 114, 114); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body{
  padding: 0;margin: 0;
  box-sizing: border-box;
}
